<!doctype html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="generator" content="Hugo 0.101.0">
        <title>Trippie Home</title>
        <link rel="icon" type="image/x-icon" href="/public/Images/favicon.ico">

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link href="/styles.css" rel="stylesheet">
        <link href="//cdn-images.mailchimp.com/embedcode/classic-071822.css" rel="stylesheet" type="text/css">

        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Signika+Negative:wght@400;500;600&display=swap"
            rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">



        <script src="https://kit.fontawesome.com/6a38e42174.js" crossorigin="anonymous"></script>
    </head>

    <body>
        <!-- Nav Bar -->
        <header>
            <nav class="navbar navbar-expand-md navbar-light" aria-label="navbar">
                <div class="container-fluid">
                    <a class="navbar-brand" href="/"><img src="\Images\Logo\Trippie Logo.png"
                            style="height: 40px; border-radius: 100%; margin: 0 1rem 0 1rem;">Trippie</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#trippieNavBar" aria-controls="trippieNavBar" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="trippieNavBar">
                        <ul class="navbar-nav me-auto mb-2 mb-md-0 gap-2">
                            <a href="/" class="btn btn-outline-dark my-2"><i class="fa-solid fa-house-chimney"></i>
                                Home</a>
                            <a href="/myplans" class="btn btn-outline-warning my-2"><i class="fa fa-pencil"></i>
                                Plans</a>
                            <a href="/whereto" class="btn btn-outline-primary my-2"><i class="fa fa-th"></i>
                                Services</a>
                            <a href="https://www.booking.com/covid-19.html" class="btn btn-outline-danger my-2"><i
                                    class="fa fa-heart"></i>
                                Covid Info</a>
                        </ul>
                        <div class="text-end">
                            <a href="/planner" class="btn btn-dark my-2" style="margin-right: 0.5em">Start Planning</a>
                        </div>
                        <div class="text-end">
                            <% if (isAuthenticated){ %>
                                <form action="/logout?_method=DELETE" method="POST">
                                    <button class="btn btn-outline-dark my-2" type="submit">Log Out</button>
                                </form>
                                <% } else { %>
                                    <a href="/signin" class="btn btn-outline-dark my-2">Sign In</a>
                                    <% } %>

                        </div>

                    </div>
                </div>
            </nav>
        </header>

        <main>
