<%- include("partials/header"); -%>


    <h2 class="pb-2 border-bottom text-center mt-3">Frequently Asked Questions</h2>
    <div class="accordion mt-3 mb-3" id="FAQs">
        <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                    data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true"
                    aria-controls="panelsStayOpen-collapseOne">
                    FAQ #1
                </button>
            </h2>
            <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show"
                aria-labelledby="panelsStayOpen-headingOne">
                <div class="accordion-body">
                    <strong>This is the first FAQ body.</strong> Lorem ipsum dolor sit amet, consectetur adipiscing
                    elit. Cras ut nibh eget justo viverra dignissim. Aliquam elit mi,
                    vehicula sed vulputate in, molestie at tortor. Donec lacinia felis a tellus rutrum ullamcorper. In
                    lectus nunc, placerat
                    a nibh at, fermentum consectetur justo. Integer neque augue, rutrum aliquam porta id, consequat
                    scelerisque mi. Quisque
                    eget venenatis felis, in vehicula purus. Mauris vehicula ipsum convallis lacinia sollicitudin.
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false"
                    aria-controls="panelsStayOpen-collapseTwo">
                    FAQ #2
                </button>
            </h2>
            <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse"
                aria-labelledby="panelsStayOpen-headingTwo">
                <div class="accordion-body">
                    <strong>This is the second FAQ body.</strong> Lorem ipsum dolor sit amet, consectetur adipiscing
                    elit. Cras ut nibh eget justo viverra dignissim. Aliquam elit mi,
                    vehicula sed vulputate in, molestie at tortor. Donec lacinia felis a tellus rutrum ullamcorper. In
                    lectus nunc, placerat
                    a nibh at, fermentum consectetur justo. Integer neque augue, rutrum aliquam porta id, consequat
                    scelerisque mi. Quisque
                    eget venenatis felis, in vehicula purus. Mauris vehicula ipsum convallis lacinia sollicitudin.
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false"
                    aria-controls="panelsStayOpen-collapseThree">
                    FAQ #3
                </button>
            </h2>
            <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse"
                aria-labelledby="panelsStayOpen-headingThree">
                <div class="accordion-body">
                    <strong>This is the third FAQ body.</strong> Lorem ipsum dolor sit amet, consectetur adipiscing
                    elit. Cras ut nibh eget justo viverra dignissim. Aliquam elit mi,
                    vehicula sed vulputate in, molestie at tortor. Donec lacinia felis a tellus rutrum ullamcorper. In
                    lectus nunc, placerat
                    a nibh at, fermentum consectetur justo. Integer neque augue, rutrum aliquam porta id, consequat
                    scelerisque mi. Quisque
                    eget venenatis felis, in vehicula purus. Mauris vehicula ipsum convallis lacinia sollicitudin.
                </div>
            </div>
        </div>

        <!-- Footer -->
        <%- include("partials/footer"); -%>
