<%- include("partials/header"); -%>


    <div class="masthead" style="background-image: url(Images/Services/HomepageBG.jpg)">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-7 py-5">
                    <h1 class="mb-4">Plan your trip in one go with Trippie!</h1>
                    <h2 class="m-0">Take along your virtual travel buddy with you to manage your whole trip...
                    </h2>
                    <a href="/planner" class="btn btn-dark btn-lg mt-4" style="text-decoration:none">Start
                        Planning</a>
                </div>

                <div class="col-lg-5">
                    <div class="py-5 px-4 masthead-cards">
                        <div class="d-flex">
                            <a href="/myplans" class="pr-3 pb-4">
                                <div class="card border-0 border-bottom-yellow shadow-lg shadow-hover">
                                    <div class="card-body text-center">
                                        <div class="text-center">
                                            <i class="fa fa-pencil fa-4x my-2"></i>
                                        </div>
                                        Plans
                                    </div>
                                </div>
                            </a>
                            <a href="/whereto" class="pl-3 pb-4">
                                <div class="card border-0 border-bottom-blue shadow-lg shadow-hover">
                                    <div class="card-body text-center">
                                        <div class="text-center">
                                            <i class="fa fa-th fa-4x my-2"></i>
                                        </div>
                                        Services
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="d-flex">
                            <a href="/favourites" class="pr-3">
                                <div class="card border-0 border-bottom-red shadow-lg shadow-hover">
                                    <div class="card-body text-center">
                                        <div class="text-center">
                                            <i class="fa fa-heart fa-4x my-2"></i>
                                        </div>
                                        Favourites
                                    </div>
                                </div>
                            </a>
                            <a href="/FAQs" class="pl-3">
                                <div class="card border-0 border-bottom-green shadow-lg shadow-hover">
                                    <div class="card-body text-center">
                                        <div class="text-center">
                                            <i class="fa-solid fa-circle-question  fa-4x my-2"></i>
                                        </div>
                                        FAQs
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="shape"></div>
                    </div>
                </div>
            </div>
        </div>
        <svg style="pointer-events: none" class="wave" width="100%" height="50px" preserveAspectRatio="none"
            xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 1920 75">
            <defs>
                <style>
                    .a {
                        fill: none;
                    }

                    .b {
                        clip-path: url(#a);
                    }

                    .c,
                    .d {
                        fill: rgb(214, 241, 255);
                    }

                    .d {
                        opacity: 0.5;
                        isolation: isolate;
                    }

                </style>
                <clipPath id="a">
                    <rect class="a" width="1920" height="75"></rect>
                </clipPath>
            </defs>
            <title>wave</title>
            <g class="b">
                <path class="c"
                    d="M1963,327H-105V65A2647.49,2647.49,0,0,1,431,19c217.7,3.5,239.6,30.8,470,36,297.3,6.7,367.5-36.2,642-28a2511.41,2511.41,0,0,1,420,48">
                </path>
            </g>
            <g class="b">
                <path class="d"
                    d="M-127,404H1963V44c-140.1-28-343.3-46.7-566,22-75.5,23.3-118.5,45.9-162,64-48.6,20.2-404.7,128-784,0C355.2,97.7,341.6,78.3,235,50,86.6,10.6-41.8,6.9-127,10">
                </path>
            </g>
            <g class="b">
                <path class="d"
                    d="M1979,462-155,446V106C251.8,20.2,576.6,15.9,805,30c167.4,10.3,322.3,32.9,680,56,207,13.4,378,20.3,494,24">
                </path>
            </g>
            <g class="b">
                <path class="d"
                    d="M1998,484H-243V100c445.8,26.8,794.2-4.1,1035-39,141-20.4,231.1-40.1,378-45,349.6-11.6,636.7,73.8,828,150">
                </path>
            </g>
        </svg>
    </div>

    <!-- Intro -->
    <div class="container px-4 py-5 text-center" id="intro">
        <h2 class="pb-2 border-bottom">Planning for your trip won't be a hassle anymore</h2>

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-3 g-4 py-5">
            <div class="col d-flex align-items-start px-4">
                <div>
                    <i class="fa-brands fa-safari fa-3x my-2"></i>
                    <h4 class="fw-bold mb-0">Easy to Browse</h4>
                    <p>Paragraph of text beneath the heading to explain the heading.</p>
                </div>
            </div>
            <div class="col d-flex align-items-start px-4">
                <div>
                    <i class="fa-solid fa-list-check fa-3x my-2"></i>
                    <h4 class="fw-bold mb-0">Easy to Plan</h4>
                    <p>Paragraph of text beneath the heading to explain the heading.</p>
                </div>
            </div>
            <div class="col d-flex align-items-start px-4">
                <div>
                    <i class="fa-solid fa-sliders  fa-3x my-2"></i>
                    <h4 class="fw-bold mb-0">Easy to Book & Manage</h4>
                    <p>Paragraph of text beneath the heading to explain the heading.</p>
                </div>
            </div>
        </div>
    </div>


    <!-- popular-destionations -->

    <div class="container px-4 py-5" id="popular-destionations">
        <h2 class="pb-2 border-bottom text-center">Popular Destinations</h2>

        <div class="row row-cols-1 row-cols-lg-3 h-100 align-items-stretch g-4 py-5">
            <div class="col">
                <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg"
                    style="background-image: url('Images/Popular Destinations/PopularDestination1.jpg')">
                    <div class=" d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                        <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">
                            &emsp; &emsp;&emsp; &emsp;&emsp;&emsp;&emsp;
                            &emsp;&emsp; &emsp;&emsp; &emsp;&emsp; &emsp;&emsp; &emsp;&emsp;
                            &emsp;&emsp; &emsp;&emsp; &emsp;&emsp; &emsp;&emsp; &emsp;&emsp;
                        </h2>
                        <ul class="d-flex list-unstyled mt-auto">
                            <li class="me-auto">
                                <img src="Images/Popular Destinations/JapanFlag.png" width="32" height="32"
                                    class="rounded-circle border border-white">
                            </li>
                            <li class="d-flex align-items-center me-3">
                                <svg class="bi me-2" width="1em" height="1em">
                                    <use xlink:href="#geo-fill" />
                                </svg>
                                <small>Kyoto, Japan</small>
                            </li>
                            <li class="d-flex align-items-center">
                                <svg class="bi me-2" width="1em" height="1em">
                                    <use xlink:href="#calendar3" />
                                </svg>
                                <small>3d</small>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg"
                    style="background-image: url('Images/Popular Destinations/PopularDestination2.jpg');">
                    <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                        <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">
                            &emsp; &emsp;&emsp; &emsp;&emsp;&emsp;&emsp;
                            &emsp;&emsp; &emsp;&emsp; &emsp;&emsp; &emsp;&emsp; &emsp;&emsp;
                            &emsp;&emsp; &emsp;&emsp; &emsp;&emsp; &emsp;&emsp; &emsp;&emsp;
                        </h2>
                        <ul class="d-flex list-unstyled mt-auto">
                            <li class="me-auto">
                                <img src="Images/Popular Destinations/UKFlag.png" alt="Bootstrap" width="32" height="32"
                                    class="rounded-circle border border-white">
                            </li>
                            <li class="d-flex align-items-center me-3">
                                <svg class="bi me-2" width="1em" height="1em">
                                    <use xlink:href="#geo-fill" />
                                </svg>
                                <small>London</small>
                            </li>
                            <li class="d-flex align-items-center">
                                <svg class="bi me-2" width="1em" height="1em">
                                    <use xlink:href="#calendar3" />
                                </svg>
                                <small>4d</small>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg"
                    style="background-image: url('Images/Popular Destinations/PopularDestination3.jpg');">
                    <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                        <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">&emsp; &emsp;&emsp; &emsp;&emsp;
                            &emsp;&emsp;
                            &emsp;&emsp; &emsp;&emsp; &emsp;&emsp; &emsp;&emsp; &emsp;&emsp;
                            &emsp;&emsp; &emsp;&emsp; &emsp;&emsp; &emsp;&emsp; &emsp;&emsp;
                        </h2>
                        <ul class="d-flex list-unstyled mt-auto">
                            <li class="me-auto">
                                <img src="Images/Popular Destinations/USFlag.png" alt="Bootstrap" width="32" height="32"
                                    class="rounded-circle border border-white">
                            </li>
                            <li class="d-flex align-items-center me-3">
                                <svg class="bi me-2" width="1em" height="1em">
                                    <use xlink:href="#geo-fill" />
                                </svg>
                                <small>California</small>
                            </li>
                            <li class="d-flex align-items-center">
                                <svg class="bi me-2" width="1em" height="1em">
                                    <use xlink:href="#calendar3" />
                                </svg>
                                <small>4d</small>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mx-auto">
                <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                    <a href="/destinations" class="btn btn-dark btn-lg my-2"><i class="fa-solid fa-plus"></i>
                        More</a>
                </div>
            </div>
        </div>
    </div>

    <!-- About Trippie -->
    <div class="container col-xxl-8 px-4 py-5">
        <h2 class="pb-2 border-bottom text-center">Why Trippie?</h2>
        <div class="row flex-lg-row align-items-center g-5 py-5">
            <div class="col-10 col-sm-8 col-lg-6">
                <img src="Images/Services/WhyTrippie1.jpg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes"
                    width="700" height="500" loading="lazy">
            </div>

            <div class="col-lg-6">
                <h3 class="fw-bold mb-3">Everything you need to plan for you trip will be here.
                    </h1>

                    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                        <a href="/planner" class="btn btn-dark btn-lg px-4 me-md-2">Start Planning</a>
                    </div>
            </div>


        </div>
    </div>

    <div class="container col-xxl-8 px-4 py-5">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
            <div class="col-10 col-sm-8 col-lg-6">
                <img src="Images/Services/WhyTrippie2.jpg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes"
                    width="700" height="500" loading="lazy">
            </div>

            <div class="col-lg-6">
                <h3 class="fw-bold mb-3">Searching for one app and another or any other
                    websites won't be thing anymore with Trippie.
                    </h1>

                    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                        <a href="/destinations" class="btn btn-dark btn-lg px-4 me-md-2">Explore Now</a>
                    </div>
            </div>
        </div>
    </div>

    <!-- our-services -->

    <div class="container px-4 py-5" id="services">
        <h2 class="pb-2 border-bottom text-center">Our Services</h2>

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 py-5">
            <div class="col align-items-start">
                <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em">
                    <use xlink:href="#bootstrap" />
                </svg>
                <div>
                    <h4 class="fw-bold mb-0">Visa Requirements</h4>
                    <p>Check if you have any visa requirements to reach your desired destination.</p>
                </div>
            </div>
            <div class="col align-items-start">
                <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em">
                    <use xlink:href="#cpu-fill" />
                </svg>
                <div>
                    <h4 class="fw-bold mb-0">Book Flights</h4>
                    <p>Paragraph of text beneath the heading to explain the heading.</p>
                </div>
            </div>
            <div class="col align-items-start">
                <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em">
                    <use xlink:href="#calendar3" />
                </svg>
                <div>
                    <h4 class="fw-bold mb-0">Book Accomodation</h4>
                    <p>Paragraph of text beneath the heading to explain the heading.</p>
                </div>
            </div>
            <div class="col align-items-start">
                <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em">
                    <use xlink:href="#home" />
                </svg>
                <div>
                    <h4 class="fw-bold mb-0">Buy Travel Insurance</h4>
                    <p>Paragraph of text beneath the heading to explain the heading.</p>
                </div>
            </div>
            <div class="col align-items-start">
                <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em">
                    <use xlink:href="#speedometer2" />
                </svg>
                <div>
                    <h4 class="fw-bold mb-0">Travel Agents</h4>
                    <p>Paragraph of text beneath the heading to explain the heading.</p>
                </div>
            </div>
            <div class="col align-items-start">
                <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em">
                    <use xlink:href="#toggles2" />
                </svg>
                <div>
                    <h4 class="fw-bold mb-0">Tour Guides</h4>
                    <p>Paragraph of text beneath the heading to explain the heading.</p>
                </div>
            </div>
            <div class="col align-items-start">
                <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em">
                    <use xlink:href="#geo-fill" />
                </svg>
                <div>
                    <h4 class="fw-bold mb-0">Things to Do</h4>
                    <p>Paragraph of text beneath the heading to explain the heading.</p>
                </div>
            </div>
            <div class="col align-items-start">
                <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em">
                    <use xlink:href="#tools" />
                </svg>
                <div>
                    <h4 class="fw-bold mb-0">Restrauant Recommendations</h4>
                    <p>Paragraph of text beneath the heading to explain the heading.</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Sign Up Free -->
    <div class="container col-xl-10 col-xxl-8 px-4 border-top">
        <div class="row align-items-center g-lg-5 py-5">
            <div class="col-lg-7 text-center text-lg-center">
                <a href="/" class="text-center">
                    <img class="mb-4 text-center" src="Images\Logo\Trippie Logo.png" alt="Trippie Logo"
                        style="height: 8rem; border-radius: 100%; margin: 0 1rem 0 1rem;">
                </a>

                <h1 class="display-4 fw-bold lh-1 mb-3">Sign Up Free</h1>
                <h5 class="fw-bold lh-1 mb-3">for More Exciting Adventures!</h1>
            </div>

            <div class="col-md-10 col-lg-5 text-center" id="signup">
                <a href="/auth/google/" class="btn btn-dark my-2" style="text-decoration:none">
                    <i class="fa-brands fa-google my-2"></i>
                    Sign In Using Google
                </a>

                <a href="/login/facebook" class="btn btn-outline-primary my-2">
                    <i class="fa-brands fa-facebook my-2"></i>
                    Sign In Using Facebook
                </a>
                <hr class="my-4">
                <small class="text-muted">By clicking Sign up, you agree to the terms of use.</small>
            </div>
        </div>
    </div>

    <!-- Footer -->

    <%- include("partials/footer"); -%>
