<%- include("partials/header"); -%>
    <div class="modal modal-signin position-static d-block py-5" tabindex="-1" role="dialog" id="modalSignin">
        <div class="modal-dialog" role="document">
            <div class="modal-content rounded-4 shadow">
                <div class="modal-header p-5 pb-4 border-bottom-0">
                    <!-- <h5 class="modal-title">Modal title</h5> -->
                    <h2 class="fw-bold mb-0">Trippie Planner</h2>
                    <a type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" href="/"></a>
                </div>

                <div class="modal-body p-5 pt-0">
                    <form class="" action="/planner" method="post">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control rounded-3" id="floatingInput"
                                placeholder="Singapore">
                            <label for="floatingInput">Destination</label>
                        </div>

                        <div class="row">
                            <div class="col align-items-start">
                                <div class="form-floating mb-3">
                                    <input type="date" class="form-control rounded-3" id="floatingStartDate"
                                        placeholder="Singapore">
                                    <label for="floatingInput">Start Date</label>
                                </div>
                            </div>

                            <div class="col align-items-start">
                                <div class="form-floating mb-3">
                                    <input type="date" class="form-control rounded-3" id="floatingEndDate"
                                        placeholder="Singapore">
                                    <label for="floatingInput">End Date</label>
                                </div>
                            </div>

                        </div>
                        <hr class="my-4">
                        <h5>Activites & Preferences (optional)
                        </h5>
                        <div id="activites-and-preferences" class="row">
                            <div class="form-check form-check-inline col align-items-start">
                                <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1" />
                                <label class="form-check-label" for="inlineCheckbox1">Culture</label>
                            </div>

                            <div class="form-check form-check-inline col align-items-start">
                                <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2" />
                                <label class="form-check-label" for="inlineCheckbox2">Outdoors</label>
                            </div>

                            <div class="form-check form-check-inline col align-items-start">
                                <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2" />
                                <label class="form-check-label" for="inlineCheckbox3">Relaxing</label>
                            </div>

                            <div class="form-check form-check-inline col align-items-start">
                                <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1" />
                                <label class="form-check-label" for="inlineCheckbox4">Romantic</label>
                            </div>

                            <div class="form-check form-check-inline col align-items-start">
                                <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2" />
                                <label class="form-check-label" for="inlineCheckbox5">Beaches</label>
                            </div>

                            <div class="form-check form-check-inline col align-items-start">
                                <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2" />
                                <label class="form-check-label" for="inlineCheckbox6">Shopping</label>
                            </div>

                            <div class="form-check form-check-inline col align-items-start">
                                <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1" />
                                <label class="form-check-label" for="inlineCheckbox7">Museums</label>
                            </div>

                            <div class="form-check form-check-inline col align-items-start">
                                <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2" />
                                <label class="form-check-label" for="inlineCheckbox8">Historical</label>
                            </div>

                            <div class="form-check form-check-inline col align-items-start">
                                <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2" />
                                <label class="form-check-label" for="inlineCheckbox9">Wildlife</label>
                            </div>
                        </div>

                        <hr class="my-4">
                        <button class="w-100 py-2 mb-2 btn btn-outline-dark rounded-3" type="submit">
                            See Your Trip Plan
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <%- include("partials/footer"); -%>
