<%- include("partials/header"); -%>


    <!-- Our Service and Buttons -->
    <section class="text-center container" id="serviceHeader">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">Our Services</h1>
                <p class="lead text-muted">Trippie provides Services from booking flights and accomodation to
                    trip planning.
                    All process from planning, before, during, and after the trip can be managed here.
                </p>
                <p>
                    <a href="/" class="btn btn-outline-dark my-2"><i class="fa-solid fa-house-chimney"></i>
                        Home</a>
                    <a href="/myplans" class="btn btn-outline-warning my-2"><i class="fa fa-pencil"></i>
                        Plans</a>
                    <a href="/favourites" class="btn btn-outline-danger my-2"><i class="fa fa-heart"></i>
                        Favourites</a>
                </p>
            </div>
        </div>
    </section>

    <div class="album bg-light mb-4" id="listServices">
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 row-cols-lg-4 g-3">
                <!-- Visa Requirements -->
                <div class="col">
                    <a href="https://www.ivisa.com/">
                        <div class="card shadow-sm">
                            <img src="Images/Services/Visa-application.jpg">


                            <div class="card-body">
                                <h6 class="card-title placeholder-glow">
                                    <span class="placeholder col-6">Visa Requirements</span>
                                </h6>
                                <div class="d-flex justify-content-between align-items-center">
                                    <small class="text-muted">Powered by ivisa.com</small>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

                <!-- Book Flights -->
                <div class="col">
                    <div class="card shadow-sm">
                        <a href="#">
                            <div class="card shadow-sm listServices">
                                <img src="Images/Services/Book flight.jpg">


                                <div class="card-body">
                                    <h6 class="card-title placeholder-glow">
                                        <span class="placeholder col-6">Book Flights</span>
                                    </h6>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <small class="text-muted">Powered by Booking.com</small>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

                <!-- Book Accomodation -->
                <div class="col">
                    <div class="card shadow-sm">
                        <a href="#">
                            <div class="card shadow-sm">
                                <img src="Images/Services/book accomodation.jpg">


                                <div class="card-body">
                                    <h6 class="card-title placeholder-glow">
                                        <span class="placeholder col-6">Book Accomodation</span>
                                    </h6>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <small class="text-muted">Powered by Booking.com</small>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

                <!-- Buy Insurance -->
                <div class="col">
                    <div class="card shadow-sm">
                        <a href="https://www.worldnomads.com/">
                            <div class="card shadow-sm">
                                <img src="Images/Services/TravelInsurance.jpg">


                                <div class="card-body">
                                    <h6 class="card-title placeholder-glow">
                                        <span class="placeholder col-6">Buy Travel Insurance</span>
                                    </h6>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <small class="text-muted">Powered by World Nomads</small>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

                <!-- Travel Agents -->
                <div class="col">
                    <div class="card shadow-sm">
                        <a href="#">
                            <div class="card shadow-sm">
                                <img src="Images/Services/TravelAgent.jpg">


                                <div class="card-body">
                                    <h6 class="card-title placeholder-glow">
                                        <span class="placeholder col-6">Travel Agents</span>
                                    </h6>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <small class="text-muted">Powered by Tour HQ</small>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

                <!-- Tour Guides -->
                <div class="col">
                    <div class="card shadow-sm">
                        <a href="#">
                            <div class="card shadow-sm">
                                <img src="Images/Services/TourGuide.webp">


                                <div class="card-body">
                                    <h6 class="card-title placeholder-glow">
                                        <span class="placeholder col-6">Tour Guides</span>
                                    </h6>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <small class="text-muted">Powered by Tour HQ</small>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

                <!-- Things to do -->
                <div class="col">
                    <div class="card shadow-sm">
                        <a href="#">
                            <div class="card shadow-sm">
                                <img src="Images/Services/ThingsToDo.jpg">


                                <div class="card-body">
                                    <h6 class="card-title placeholder-glow">
                                        <span class="placeholder col-6">Things to Do</span>
                                    </h6>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <small class="text-muted">Powered by Booking.com</small>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

                <!-- Restaurants Recommendations -->
                <div class="col">
                    <div class="card shadow-sm">
                        <a href="#">
                            <div class="card shadow-sm">
                                <img src="Images/Services/Restrauants.jpg">


                                <div class="card-body">
                                    <h6 class="card-title placeholder-glow">
                                        <span class="placeholder col-6">Restaurants Recommendations</span>
                                    </h6>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <small class="text-muted">Powered by Booking.com</small>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <%- include("partials/footer"); -%>
