body {
    padding-bottom: 20px;
    font-family: "Signika Negative", sans-serif;
    background-color: rgb(214, 241, 255);
}

main a {
    text-decoration: none;
    color: #000;
}

a:hover {
    text-decoration: none;
}

h3 {
    line-height: 1.5;
}

/* Nav Bar */

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

#homepageLogo {
    height: 3rem;
    border-radius: 100%;
}

.masthead .masthead-cards .card {
    margin-left: 1.5em;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, 0.1);
    border: solid rgba(0, 0, 0, 0.15);
    border-width: 1px 0;
    box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1),
        inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
}

.b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
}

.bi {
    vertical-align: -0.125em;
    fill: currentColor;
}

.nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
}

.nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

/* Get Started */

.masthead {
    padding: 3rem 0 7rem;
    position: relative;
    background-image: url("Front-end/Images/Services/Home Page BG.jpg");
    background-size: cover;
    z-index: 0;
}

.masthead svg.wave {
    position: absolute;
    bottom: -1px;
    left: 0;
}

.masthead h1 {
    color: #fff;
    font-weight: 700;
    font-size: 2rem;
    line-height: 2;
    z-index: 1;
    max-width: 25em;
}

.masthead h2 {
    color: rgb(255, 255, 255);
    font-weight: 600;
    z-index: 1;
    font-size: 1.2rem;
    max-width: 25em;
    line-height: 2;
}

.masthead a {
    color: rgba(255, 255, 255, 0.8);
    text-decoration: underline;
    z-index: 1;
}

.masthead a:hover {
    color: #fff;
}

.masthead a:active {
    text-decoration: none;
}

@media (min-width: 992px) {
    .masthead h1 {
        font-size: 3rem;
    }
    .masthead h2 {
        font-size: 1.5rem;
    }
}

.masthead .masthead-cards {
    position: relative;
    z-index: 1;
}

.masthead .masthead-cards .shape {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 30% 70% 70% 30%/30% 30% 70% 70%;
}

.masthead .masthead-cards .card {
    opacity: 1;
    width: 9rem;
    font-size: 0.8rem;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 0.05rem;
    color: #212529;
    transition: 0.15s all;
}

.masthead .masthead-cards .card:hover {
    margin-top: -0.25rem;
    margin-bottom: 0.25rem;
}

.masthead .masthead-cards .card:active {
    margin-top: inherit;
    margin-bottom: inherit;
}

.masthead .masthead-cards .card.border-bottom-blue:hover {
    color: #2092ed;
}

.masthead .masthead-cards .card.border-bottom-green:hover {
    color: #28a745;
}

.masthead .masthead-cards .card.border-bottom-red:hover {
    color: #dd3d31;
}

.masthead .masthead-cards .card.border-bottom-yellow:hover {
    color: #ffc107;
}

.masthead-page {
    padding: 1rem 0 4rem;
}

@media (min-width: 992px) {
    .masthead-page h1 {
        font-size: 2.5rem;
    }
}

.border-bottom-yellow {
    border-color: #ffc107 !important;
}

.border-bottom-red {
    border-color: #dd3d31 !important;
}

.border-bottom-blue {
    border-color: #2092ed !important;
}

.border-bottom-green {
    border-color: #28a745 !important;
}

.border-bottom-blue,
.border-bottom-green,
.border-bottom-red,
.border-bottom-yellow {
    border-bottom: 0.4rem solid !important;
}
.shadow-lg {
    box-shadow: 0 2rem 1.5rem -1.5rem rgba(33, 37, 41, 0.15),
        0 0 1.5rem 0.5rem rgba(33, 37, 41, 0.05) !important;
}
.border-0 {
    border: 0 !important;
}

/* Popular Destinations */

.card-cover {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

/* Service Page CSS */

#serviceHeader {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

#listServices img {
    width: "100%";
    height: 10rem;
}

/* /myplans

 Page CSS */
#noPlans {
    line-height: 2;
    max-height: 100%;
}

/* FAQs CSS */
#FAQs {
    max-width: 80%;
    margin-left: 10%;
}

/* Home page Sign Up */
#signup a {
    text-decoration: none;
    width: 90%;
    text-align: left;
    align-items: left;
}

#signup .btn {
    text-align: left;
    padding-left: 12%;
    padding-right: 12%;
}

#signup i {
    padding-right: 10%;
}

.modal-dialog {
    max-width: 600px;
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
    text-decoration: none;
    color: white;
    font-size: 5vh;
    font-weight: bold;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 90vh;
    padding: 1em;
    box-sizing: border-box;
    color: white;
    background: url(https://images.unsplash.com/photo-1500417148159-68083bd7333a)
        center center no-repeat;
    background-size: cover;
}

.hero-title {
    max-width: 16em;
    margin: 0;
    font-size: 10vh;
    font-weight: bold;
    line-height: 0.9;
}

.checklist-title {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 5vh;
    padding-bottom: 1em;
    box-sizing: border-box;
    font-size: 5vh;
    font-weight: bold;
    line-height: 0.9;
    color: #000;
}

.goodygoody {
    height: 85vh;
    padding-top: 3em;
    box-sizing: border-box;
    font-size: 5vh;
    font-weight: bold;
    line-height: 0.9;
    color: #000;
}

@media only screen and (min-width: 32em) {
    .hero {
        max-width: 50%;
    }
    .hero-title {
        font-size: 10vh;
    }
}
.hero-footer {
    display: flex;
    margin-bottom: 1em;
}

/* -----------checklist --------------- */

/* box-shadow */
ol.gradient-list > li::before,
ol.gradient-list > li {
    box-shadow: 0.25rem 0.25rem 0.6rem rgba(0, 0, 0, 0.05),
        0 0.5rem 1.125rem rgba(75, 0, 0, 0.05);
}

/*** STYLE ***/
*,
*:before,
*:after {
    box-sizing: border-box;
}

ol.gradient-list {
    counter-reset: gradient-counter;
    list-style: none;
    margin: 1.75rem 0;
    padding-left: 1rem;
}
ol.gradient-list > li {
    background: white;
    border-radius: 0 0.5rem 0.5rem 0.5rem;
    counter-increment: gradient-counter;
    margin-top: 1rem;
    min-height: 3rem;
    padding: 1rem 1rem 1rem 3rem;
    position: relative;
}
ol.gradient-list > li::before,
ol.gradient-list > li::after {
    background: linear-gradient(135deg, #83e4e2 0%, #a2ed56 100%);
    border-radius: 1rem 1rem 0 1rem;
    content: "";
    height: 3rem;
    left: -1rem;
    overflow: hidden;
    position: absolute;
    top: -1rem;
    width: 3rem;
}
ol.gradient-list > li::before {
    align-items: flex-end;
    content: counter(gradient-counter);
    color: #1d1f20;
    display: flex;
    font-size: 900 1.5em/1;
    justify-content: flex-end;
    padding: 1em;
    z-index: 1;
}
ol.gradient-list > li:nth-child(10n + 1):before {
    background: linear-gradient(
        135deg,
        rgba(86, 204, 237, 0.8) 0%,
        rgba(194, 109, 255, 0.8) 100%
    );
}
ol.gradient-list > li:nth-child(10n + 2):before {
    background: linear-gradient(
        135deg,
        rgba(86, 204, 237, 0.8) 0%,
        rgba(194, 109, 255, 0.8) 100%
    );
}
ol.gradient-list > li:nth-child(10n + 3):before {
    background: linear-gradient(
        135deg,
        rgba(86, 204, 237, 0.8) 0%,
        rgba(194, 109, 255, 0.8) 100%
    );
}

ol.gradient-list > li:nth-child(10n + 4):before {
    background: linear-gradient(
        135deg,
        rgba(86, 204, 237, 0.8) 0%,
        rgba(194, 109, 255, 0.8) 100%
    );
}
ol.gradient-list > li:nth-child(10n + 5):before {
    background: linear-gradient(
        135deg,
        rgba(86, 204, 237, 0.8) 0%,
        rgba(194, 109, 255, 0.8) 100%
    );
}
ol.gradient-list > li:nth-child(10n + 6):before {
    background: linear-gradient(
        135deg,
        rgba(86, 204, 237, 0.8) 0%,
        rgba(194, 109, 255, 0.8) 100%
    );
}

ol.gradient-list > li:nth-child(10n + 7):before {
    background: linear-gradient(
        135deg,
        rgba(86, 204, 237, 0.8) 0%,
        rgba(194, 109, 255, 0.8) 100%
    );
}

ol.gradient-list > li + li {
    margin-top: 2rem;
}
